a2a-sdk[http-server]>=0.3.4,<1.0.0
google-adk>=2.5.0
google-cloud-aiplatform[agent_engines,adk]>=1.144.0
google-cloud-bigquery>=3.20.0
a2ui-agent-sdk>=0.1.2
starlette
sse-starlette
uvicorn
fastapi
pydantic
requests
python-dotenv>=1.1.0
pyyaml>=6.0
